
.button{
    text-decoration: none;
    display: inline-block;
    width: 140px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin: 10px 0;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #565352;
    background: none;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
    outline: none;
    cursor: pointer;
}
.button:hover{
    background: #2EE59D;
    color: white;
    box-shadow: 0 8px 15px rgb(181, 255, 167);
    transform: translateY(-7px);
}